<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">      <!-- это объявление пространства имён для атрибутов th* в шаблоне Thymeleaf -->
<head>
    <meta charset="UTF-8">
    <title>Add New Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="padding: 25px; background: darkkhaki">

    <h1>Add new Book</h1>                                                                               <!-- <h1></h1> заголовок 1-го уровня-->
                                                                                                        <!--<form></form> используется для создания HTML- формы. В нём находится всё содержимое формы: поля для ввода, подписи к этим полям и кнопка отправки. -->
        <form action="#" th:action="@{/save-book}" th:object="${book}" method="post">                   <!--method="post" — метод отправки данных: POST - (Аналог INSERT INTO)-->
            <p>                                                                                         <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
                <label for="vendorCode">Vendor Code</label>                                             <!--<label> ЯРЛЫК название для какого либо элемента формы-->
                <input type="text" th:field="*{vendorCode}" id="vendorCode" placeholder="Vendor Code" required>  <!--<input> Создaёт ПОЛЕ для ВВОДА Текста--> <!--required - устанавливает поле формы ОБЯЗАТЕЛЬНЫМ для заполнения перед отправкой формы на сервер-->
            </p>                                                                                        <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
            <p>                                                                                         <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
                <label for="title">Title</label>                                                        <!--<label> ЯРЛЫК название для какого либо элемента формы-->
                <input type="text" th:field="*{title}" id="title" placeholder="Title" required>         <!--<input> Создaёт ПОЛЕ для ВВОДА Текста--> <!--required - устанавливает поле формы ОБЯЗАТЕЛЬНЫМ для заполнения перед отправкой формы на сервер-->
            </p>                                                                                        <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
            <p>                                                                                         <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
                <label for="year">Year</label>                                                          <!--<label> ЯРЛЫК название для какого либо элемента формы-->
                <input type="text" th:field="*{year}" id="year" placeholder="Year" required>            <!--<input> Создaёт ПОЛЕ для ВВОДА Текста--> <!--required - устанавливает поле формы ОБЯЗАТЕЛЬНЫМ для заполнения перед отправкой формы на сервер-->
            </p>                                                                                        <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
            <p>                                                                                         <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
                <label for="brand">Brand</label>                                                        <!--<label> ЯРЛЫК название для какого либо элемента формы-->
                <input type="text" th:field="*{brand}" id="brand" placeholder="Brand" required>         <!--<input> Создaёт ПОЛЕ для ВВОДА Текста--> <!--required - устанавливает поле формы ОБЯЗАТЕЛЬНЫМ для заполнения перед отправкой формы на сервер-->
            </p>
            <p>                                                                                         <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
                <label for="stock">Stock</label>                                                        <!--<label> ЯРЛЫК название для какого либо элемента формы-->
                <input type="" th:field="*{stock}" id="stock" placeholder="Stock" required>       <!--<input> Создaёт ПОЛЕ для ВВОДА Текста--> <!--required - устанавливает поле формы ОБЯЗАТЕЛЬНЫМ для заполнения перед отправкой формы на сервер-->
            </p>
            <p>                                                                                         <!--<p></p> - (АБЗАЦ) имеет отступы сверху и снизу-->
                <label for="price">Price</label>                                                        <!--<label> ЯРЛЫК название для какого либо элемента формы-->
                <input type="number" th:field="*{price}" id="price" placeholder="Price" required>       <!--<input> Создaёт ПОЛЕ для ВВОДА Текста--> <!--required - устанавливает поле формы ОБЯЗАТЕЛЬНЫМ для заполнения перед отправкой формы на сервер-->
            </p>
            <p>
            <input type="submit" value="Create Book" class="btn btn-success btn-sm">                                                   <!-- Вариант создания "Кнопки" для ОТПРАВКИ формы. По умолчанию название кнопки "Отправить" -->
            </p>
        </form>                                                                                         <!--<form></form> используется для создания HTML- формы. В нём находится всё содержимое формы: поля для ввода, подписи к этим полям и кнопка отправки. -->
    <p><a href="/showBooks"><button class="btn btn-primary btn-sm">Back</button></a></p>                <!--Вариант ссылки в виде кнопки-->

</body>
</html>